/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */
/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */
/* CSS Reset : based on Kevin Powell's code */
/* https://youtu.be/2lyDv0wOQuQ?si=VtGSWSv8WB0flLd1 */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */
/* Storing custom CSS properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties */


/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */
/* Intro Modal dialog */
/* need to apply to open dialog, otherwise flex interferes with closing */
dialog[open] {
  margin: auto; /* place in centre */
  padding: 1rem;
  /* background-color: var(--col01); */
  /* color: var(--col02); */
  /* border: var(--border); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* background overlay when modal is open */
}
#dialogCloseButton {
  /* background-color: var(--col01); */
  /* color: var(--col02); */
  padding: 0 1rem;
}

