.xyControlBox {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.xySVGEl {
  width: 100%;
  height: 100%;
  display: block;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#controlBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}

input[type="range"] {
  width: 100%;
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #b271a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -14px;
  width: 18px;
  height: 36px;
  background: #ffb9af;
  border: 0.4px solid rgba(104, 89, 138, 0.6);
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #bb82b3;
}
input[type="range"]::-moz-range-track {
  background: #b271a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 36px;
  background: #ffb9af;
  border: 0.4px solid rgba(104, 89, 138, 0.6);
  border-radius: 3px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 15.2px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #a9609f;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: #b271a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  width: 18px;
  height: 36px;
  background: #ffb9af;
  border: 0.4px solid rgba(104, 89, 138, 0.6);
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #b271a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #bb82b3;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

#volumeSlider {
  position: absolute;
  right: 20px;
  top: 10px;
  writing-mode: bt-lr;
  width: 200px;
  height: 20px;
  z-index: 10;
}

#xyPad {
  pointer-events: all;
}

.xyPosMarker {
  pointer-events: none;
}

#pauseBtn {
  width: 30px;
  height: 30px;
  background: url("assets/icons8-pause-60.png") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#resetBtn {
  width: 30px;
  height: 30px;
  background: url("assets/icons8-reset-64.png") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
